---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
import { AstroSeo } from '@astrolib/seo';

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();
---

<AstroSeo
      title={"DeveD | Contact"}
      description="DeveD | Your friendly neighborhood DevRel."
      canonical={canonicalURL}
      twitter={{
        handle: "@DeveD_Skopje",
        site: "https://deved.mk",
        cardType: "summary_large_image",
      }}
      openGraph={{
        url: Astro.url.toString() || 'https://deved.mk',
        title: "DeveD | Contact",
        description: "DeveD | Your friendly neighborhood DevRel.",
        images: [
          {
            url: resolvedImageWithDomain,
            width: 1200,
            height: 630,
            alt: "Social open graph",
            type: "image/jpeg",
          },
          {
            url: resolvedImageWithDomain,
            width: 4096,
            height: 4096,
            alt: "Twitter open graph",
            type: "image/jpeg",
          },
          { url: resolvedImageWithDomain },
          { url: resolvedImageWithDomain },
        ],
        site_name: "DeveD",
      }}
    
    />

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Experience the DeveD Difference in Your Tech Journey</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact DeveD</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Interested in partnering with DeveD to elevate your tech game? We can help.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-4 space-x-2 text-gray-600 text-lg">
            <Icon class="text-gray-400 w-8 h-8" name="uil:map-marker" />
            <span>ul. Kosta Shahov, 7-5, Skopje, 1060, Macedonia</span>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center mt-4 space-x-2 text-gray-600 text-lg">
          <Icon class="text-gray-400 w-8 h-8" name="uil:envelope" /><a
            href="mailto:hello@deved.mk"
            >Message us at hello@deved.mk</a
          >
        </div>
        <div class="flex items-center mt-4 space-x-2 text-gray-600 text-lg">
          <Icon class="text-gray-400 w-8 h-8" name="mdi:linkedin" />
          <a href="https://www.linkedin.com/company/deved-skopje/">Connect with us on LinkedIn</a>
        </div>
        <div class="flex items-center mt-4 space-x-2 text-gray-600 text-lg">
          <Icon class="text-gray-400 w-8 h-8" name="mdi:twitter" />
          <a href="https://twitter.com/DeveD_Skopje">Follow us on Twitter</a>
        </div>
        <div class="flex items-center mt-4 space-x-2 text-gray-600 text-lg">
          <Icon class="text-gray-400 w-8 h-8" name="mdi:facebook" />
          <a href="https://www.facebook.com/people/DeveD/100091427876607/">Follow us on Facebook</a>
        </div>
        <div class="flex items-center mt-4 space-x-2 text-gray-600 text-lg">
          <Icon class="text-gray-400 w-8 h-8" name="mdi:instagram" />
          <a href="https://www.instagram.com/deved4534/">Follow us on Instagram</a>
        </div>
      </div>
    </div>
  </Container>
</Layout>


<style>
  a {
    @apply underline text-cyan-800;
  }
</style>