---
import { getCollection } from "astro:content";
// import { Image } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Organization</Fragment>
      <Fragment slot="desc">DeveD Skopje, the civil organization</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        DeveD Skopje is a registered civil organization in the Republic of Macedonia. We are a non-profit, non-governmental, and non-political organization that aims to promote the development of the IT industry in the country.
  <br />
  <br />
        <ul class="text-lg leading-relaxed text-slate-500">
          <li>- Registration number: 7667175</li>
          <li>- Tax number: 4080023613687</li>
          <li>- Bank acct. number: 210076671750135, NLB Banka AD Skopje</li>
        </ul>
      </p>
    </div>
  </Container>
</Layout>

<style>
  p a {
    @apply text-cyan-800 underline;
  }
</style>