---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Tech Conference Planning",
    description:
      "Orchestrating multi-day developer conferences, featuring keynote speakers, panel discussions, and workshops on the latest industry advancements.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Specialized Developer Meetups",
    description: "Organizing niche meetups targeting specific development areas, such as front-end, back-end, or full-stack, to foster targeted learning and networking.",
    icon: "bx:bxs-data",
  },
  {
    title: "Customized Tech Workshops",
    description:
      "Tailored workshops designed to meet company-specific needs, focusing on web development, JavaScript, and other relevant technologies.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Hackathons & Startup Collaboration",
    description:
      "Organizing hackathons and partnering with startups to develop innovative ideas, foster creativity, and build practical solutions.",
    icon: "bx:bxs-data",
  },
  {
    title: "Mentorship & Networking",
    description:
      "Connecting individuals with experienced professionals for guidance, support, and networking opportunities within the IT community.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Content Creation",
    description:
      "Producing high-quality content, such as live streaming, podcasts, event recordings, and promotional materials, to enhance the reach and impact of developer events and conferences.",
    icon: "bx:bxs-file-find",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    What we do
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    At DeveD, we cultivate growth in the IT community by offering mentorship, networking opportunities, event organization, and educational resources across web development and emerging technologies.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
