---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-4xl text-slate-500">Partners</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a href="https://women-in-tech.org/mk/"
      ><img src="/wit_macedonia.png" class="h-48 object-cover" /></a
    >
    <a href="https://jsnation.com/"
      ><img
        src="/JSNation_logo_blck.png"
        class="h-auto sm:h-48 max-w-full object-cover"
      /></a
    >
  </div>
</div>
