---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter";

export interface Props {
  title: string;
  frontmatter?: any;
}

// const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

// const resolvedImageWithDomain = new URL(
//   "/opengraph.jpg",
//   Astro.site
// ).toString();
// 
// const { title, frontmatter } = Astro.props;

// console.log('frontmatter', frontmatter);

// const makeTitle = title
//   ? title + " | " + "DeveD"
//   : "DeveD - Your friendly neighborhood DevRel.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <script defer data-domain="deved.mk" data-api="/api/event" src="/js/script.js"></script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
